RFC 24059 Wijziging relatie DH/CZT van client naar bemiddeling

### eDocs volgnummer

2024024636

### Korte probleem omschrijving

autorisatie afdwingen voor een DH of CZT op de gegevens is met de huidige structuur complex. Daarnaast geeft de huidige structuur niet volledig de praktijk van relaties weer

### Korte omschrijving voorgestelde oplossing

Relatie tussen DH/CZT verplaatsen van Client naar Bemiddeling

### RFC gevolgen voor het onderdeel/de onderdelen

ERD (Register), Koppelvlak specificatie, Regels

### Welk ander onderdeel?

Autorisatiematrix

### Betrokken partij RFC

Zorgkantoor, Zorginstituut, anders, (geef aan bij contactpersoon)

### Andere betrokken partij

VECOZO

### Indiener RFC

Zorginstituut

### Andere organisatie / contactpersoon

VECOZO

### Analyse

# Analyse
### Huidige situatie
Dossierhouder (DH) en CoordinatorZorgThuis (CZT) zijn gekoppeld aan Client. 
 (zie graphmodel en ERD)

### Bezwaren huidige situatie
De inzage van een DH/CZT op de bemiddelingspecificaties en bemiddeling zijn beperkt door de periode waarin de instelling is gekenmerkt als DH/CZT. Door de huidige implementatie moet die geldigheidsperiode meegenomen worden naar de via de client gekoppelde bemiddelingen (en bemiddelingspecificaties). 

Dit is onnodig complex omdat er in werkelijkheid een directe relatie is tussen (de duur van een) bemiddeling en de DH/CZT periode. Deze is maximaal gelijk of de DH/CZT periode valt daarbinnen, maar de DH/CZT periode is nooit groter dan de periode van een bemiddeling. 

Deze complexiteit werkt door in de benodigde autorisatie-policy. 

# Wijzigingsvoorstel
### Voorstel aanpassing 
Maak een directe relatie tussen DH/CZT met Bemiddeling en verwijder de relatie met Client en pas de notificatie inhoud aan

**Voordelen**
Directe relatie tussen wat een DH/CZT vanuit zijn geldigheid mag raadplegen aan bemiddelingsspecificaties. 

**Nadelen**
Aanpassing ERD, Koppelvlakspecificatie, Policy, regels

# Overweging wijzigingsvoorstel(len)

| Oplossing     | Voordeel / Nadeel                | Overweging Referentiegroep |
| :------------ | :------------------------------- | :------------------------- |
| 1. Aanpassen schema         | Voordeel: richting domein onafhankelijke oplossing                        | Doorvoeren zodat autorisatie issue wordt opgelost.                           |
|               | Nadeel: wijziging noodzakelijk                        |                            |
| #. Niets doen | Voordeel: geen wijziging nodig   |                            |
|               | Nadeel: probleem blijft aanwezig |                            |
...


# Conclusie

Naast het wijzigen van de relatie voor het oplossen van het autorisatieprobleem zal de nieuwe klasse ook richting een meer domein onafhankelijke structuur worden aangepast. 

De afzonderlijke klassen Dossierhouder en CoordinatorZorgThuis worden samengevoegd tot de klasse Regiehouder waarin naast de bestaande kenmerken van DH en CZT ook een kenmerk komt voor het typeren van de Regiehouder in een van de twee rollen. 

### Gekozen oplossing

1. Aanpassen schema

### Publicatiemoment

Eerste volgende publicatie Bemiddelingregister 1

### Implementatiemoment

Bemiddelingregister 1






# Uitwerking wijzigingsvoorstel 1 

### ERD

| **Mutatie** | **Huidige situatie** | **Nieuwe situatie** |
| :--- | :--- | :--- |
| Verwijderen |  | ```Dossierhouder``` verwijderd |
| Verwijderen | | ```CoordinatorZorgThuis``` verwijderd |
| Toevoegen | | ```Regiehouder``` toegevoegd (zie hieronder de samenstelling) |


**Toevoegen:**

**Regiehouder**: _De instelling die bepaalde verantwoordelijkheid heeft richting de client of patiënt, overeenkomstig de geselecteerde regierol._ 

| **Element** | **ID** | **Verplicht** | **LDT** | **primitive** | **Codelijst** | **Documentatie**
|---|---|---|---|---|---|---|
| **regiehouderID** | ja | ja | LDT_UUID | string | | Technische sleutel Regiehouder.  |
| **bemiddelingID** | ja | ja | LDT_UUID | string | | Technische sleutel Bemiddeling.  |
| **instelling** | ja | ja | LDT_iWlzAgbCode | string | | Aanduiding van de instelling die de geselecteerde regierol heeft.    |
| **ingangsdatum** | ja | ja | LDT_Datum | date |  | Eerste datum waarop de instelling de geselecteerde regierol heeft. |
| **einddatum** | nee | nee | LDT_Datum | date |  | Laatste datum waarop de instelling de geselecteerde regierol heeft. |
| **regierol** | ja | ja | LDT_Regierol | string | COD1004: Regierol |  De aan de instelling toegekende regierol |


### Gegevens

| **Mutatie** | **Huidige situatie** | **Nieuwe situatie** |
| :--- | :--- | :--- |
| Toevoegen | | Codelijst **```COD1004: Regierol```** (zie hieronder voor samenstelling) |
| Toevoegen | | LDT_Regierol - string(3) - koppelen aan RS010 - documentatie: (zie documentatie bij codelijst) |


  **COD1004: Regierol** _Gecodeerde aanduiding van de rol van de aanbieder in de coordinatie, organisatie en/of afstemming van zorgverlening aan client of patient._


  | **Codelijst** | **Id** | **Omschrijving** | **ingangsdatum** | **expiratiedatum** | **mutatiedatum** | **mutatie** |
  |---|---|---|---|---|---|---|
  | COD1004 | 1 | Coordinator Zorg Thuis | 2025-01-01 |  | 2024-10-01 | toegevoegd |
  | COD1004 | 2 | Dossierhouder | 2025-01-01 |  | 2024-10-01 | toegevoegd |

### Regels

| **Bedrijfsregel** | **Oud** | **Nieuw** | **Opmerking** |
| :--- | :--- | :--- |  :--- |
|  BRB0016  |  Direct na plaatsing van een of meer nieuwe of gewijzigde toewijzingen in het Bemiddelingsregister notificeert het verantwoordelijke zorgkantoor de geldige Dossierhouder en/of de geldige Coordinator zorg thuis.   |  vervallen   | Alleen betreffende zorgaanbieder krijgt notificatie.   |
|  BRB0034  | In een zorgtoewijzing voor verblijf geeft het zorgkantoor aan welke zorgaanbieders de client mogen opnemen en welke zorgaanbieders uitsluitend dagbesteding en/of behandeling mogen leveren. Documentatie: Van de zorgaanbieders die de client mogen opnemen, is een (1) de dossierhouder.    | In een zorgtoewijzing voor verblijf geeft het zorgkantoor aan welke zorgaanbieders de client mogen opnemen en welke zorgaanbieders uitsluitend dagbesteding en/of behandeling mogen leveren. Documentatie: Van de zorgaanbieders die de client mogen opnemen, heeft een (1) de regierol dossierhouder.     | Aanpassing documentatie.  |
| BRB0043   | Het verantwoordelijke zorgkantoor legt in het Bemiddelingsregister bij de client de dossierhouder en/of de coordinator zorg thuis vast en houdt deze gegevens bij, inclusief de periodes waarin de betreffende zorgaanbieders deze rol hebben.    | Het verantwoordelijke zorgkantoor legt in het Bemiddelingsregister de Regiehouder(s) vast inclusief hun regierol (dossierhouder of coordinator zorg thuis) en de periode(s) waarin de betreffende zorgaanbieder(s) deze regierol voor de client hebben.    |   |
| BRB0045  | Voor clienten afkomstig uit een andere zorgkantoorregio kan de voorkeuraanbieder zijn rol van dossierhouder of coordinator zorg thuis terugleggen bij het verantwoordelijke zorgkantoor. Documentatie: De voorkeuraanbieder informeert de client en het zorgkantoor hierover.    | Voor clienten afkomstig uit een andere zorgkantoorregio kan de voorkeuraanbieder zijn regierol dossierhouder of coordinator zorg thuis terugleggen bij het verantwoordelijke zorgkantoor. Documentatie: De voorkeuraanbieder informeert de client en het zorgkantoor hierover.  |  |
| BRB0046   | Indien een zorgaanbieder, die geen dossierhouder of coordinator zorg thuis is, de toegewezen zorg niet kan leveren, moet hij dit afstemmen met de dossierhouder of coordinator zorg thuis voordat hij dit meldt aan het zorgkantoor.    | Indien een zorgaanbieder, die niet de regierol dossierhouder of coordinator zorg thuis heeft, de toegewezen zorg niet kan leveren, moet hij dit afstemmen met de zorgaanbieder die wel deze regierol heeft.    |   |
| BRB0047   |  Het zorgkantoor en/of de dossierhouder moet(en) contact onderhouden met clienten die wachten op (de gewenste) zorg.    | Het zorgkantoor en/of de zorgaanbieder die de regierol dossierhouder heeft, moet(en) contact onderhouden met clienten die wachten op (de gewenste) zorg.     |   |
| BRB0048   | De rol van dossierhouder is beperkt tot de geldigheidsperiode van de reguliere toewijzing voor verblijf, deeltijdverblijf of VPT.    |  De regierol dossierhouder is beperkt tot de geldigheidsperiode van de reguliere toewijzing voor verblijf, deeltijdverblijf of VPT.   |   |
| BRB0049   | De coordinator zorg thuis (CZT) moet betrokken zijn bij de zorglevering van het modulair pakket thuis (MPT) aan de client.Documentatie: Dit betekent dat de coordinator zorg thuis (een deel van) het MPT levert.    | De zorgaanbieder die de regierol coordinator zorg thuis (CZT) heeft, moet betrokken zijn bij de zorglevering van het modulair pakket thuis (MPT) aan de client. Documentatie: Dit betekent dat de coordinator zorg thuis (een deel van) het MPT levert.    |   |
| BRB0050   | De rol van coordinator zorg thuis is beperkt tot de geldigheidsperiode van de toewijzing voor MPT.     | De regierol coordinator zorg thuis is beperkt tot de geldigheidsperiode van de toewijzing voor MPT.     |   |
| BRB0058   | Direct na plaatsing van een nieuwe Dossierhouder of Coordinator zorg thuis in het Bemiddelingsregister notificeert het verantwoordelijke zorgkantoor de betreffende zorgaanbieder.    | Direct na registratie van een nieuwe Regiehouder in het Bemiddelingsregister notificeert het verantwoordelijke zorgkantoor de betreffende zorgaanbieder.    | zie ook RFC 24065 #65   |
| BRB0059   | Direct na registratie van een nieuwe of gewijzigde einddatum bij een Dossierhouder of Coordinator zorg thuis notificeert het verantwoordelijke zorgkantoor de betreffende zorgaanbieder.    | Direct na het wijzigen van een Regiehouder in het Bemiddelingsregister notificeert het verantwoordelijke zorgkantoor de betreffende zorgaanbieder. Documentatie: Het gaat hier altijd om een wijziging van de periode waarin de zorgaanbieder Regiehouder is.    |   |

| **Gegevensregel** | **Oud** | **Nieuw** | **Opmerking** |
| :--- | :--- | :--- |  :--- |
|  BRG0035  | De AGB-code in instelling in Dossierhouder moet geldig zijn, volgens de iWlz-AGB-codelijst, op ingangsdatum in Dossierhouder.    |  De AGB-code in instelling in Regiehouder moet geldig zijn, volgens de iWlz-AGB-codelijst, op ingangsdatum in Regiehouder.   |   |
|  BRG0036  | Gedurende iedere aaneengesloten periode waarin er een Bemiddelingspecificatie is met leveringsvorm 4 (Verblijf), 5 (VPT) of 8 (DTV), moet er (vanaf kleinste toewijzingIngangsdatum t/m grootste toewijzingEinddatum), een Dossierhouder zijn. Documentatie: Er mag geen Dossierhouder zijn voor (tussenliggende) periode(s) waarin er geen Bemiddelingspecificatie is met leveringsvorm 4 (Verblijf), 5 (VPT) of 8 (DTV).     | Gedurende iedere aaneengesloten periode waarin er een Bemiddelingspecificatie is met leveringsvorm 4 (Verblijf), 5 (VPT) of 8 (DTV), moet er (vanaf kleinste toewijzingIngangsdatum t/m grootste toewijzingEinddatum), een _Regiehouder met_ regierol dossierhouder zijn. Documentatie: Er mag geen Regiehouder met regierol dossierhouder zijn voor (tussenliggende) periode(s) waarin er geen Bemiddelingspecificatie is met leveringsvorm 4 (Verblijf), 5 (VPT) of 8 (DTV).    | regel ingekort, want te lang, Regiehouder met (cursief) weggelaten  |
|  BRG0037  | Op ieder moment kan er maar een (1) instelling zijn die de rol van dossierhouder heeft. In een (aaneengesloten) periode mogen verschillende instellingen de rol van dossierhouder hebben. Documentatie: Geldigheidsperiodes van dossierhouders mogen elkaar niet overlappen.     | Geldigheidsperiodes van Regiehouders met regierol dossierhouder mogen elkaar een (1) dag overlappen. Documentatie:  In een (aaneengesloten) periode mogen verschillende instellingen de regierol dossierhouder hebben. Ze hebben deze rol niet gelijktijdig, maar na elkaar. Een overlap van een (1) dag is hierbij toegestaan.   | zie RFC 24016 #38   |
|  BRG0039  | De AGB-code in instelling in CoordinatorZorgThuis moet geldig zijn, volgens de iWlz-AGB-codelijst, op ingangsdatum in CoordinatorZorgThuis.    | vervallen, samengevoegd met BRG0035   |   |
|  BRG0040  | Gedurende iedere aaneengesloten periode waarin er een Bemiddelingspecificatie is waarvan de leveringsvorm gevuld is met 7 (MPT), moet er (vanaf kleinste toewijzingIngangsdatum t/m grootste toewijzingEinddatum), een CoordinatorZorgThuis zijn. Documentatie: Er mag geen CoordinatorZorgThuis zijn voor (tussenliggende) periode(s) waarin er geen Bemiddelingspecificatie is met leveringsvorm 7 (MPT).   | Gedurende iedere aaneengesloten periode waarin er een Bemiddelingspecificatie is met leveringsvorm 7 (MPT), moet er (vanaf kleinste toewijzingIngangsdatum t/m grootste toewijzingEinddatum), een Regiehouder met regierol coordinator zorg thuis zijn. Documentatie: Er mag geen Regiehouder met regierol coordinator zorg thuis zijn voor (tussenliggende) periode(s) waarin er geen Bemiddelingspecificatie is met leveringsvorm 7 (MPT).    |   |
|  BRG0041  | Er mag geen CoordinatorZorgThuis zijn voor (tussenliggende) periode(s) waarin er geen Bemiddelingspecificatie is met leveringsvorm 7 (MPT).  Documentatie: In een (aaneengesloten) periode mogen verschillende instellingen de rol van coordinator zorg thuis hebben. Geldigheidsperiodes van coordinatoren zorg thuis mogen elkaar niet overlappen.  |  Geldigheidsperiodes van Regiehouders met regierol coordinator zorg thuis mogen elkaar een (1) dag overlappen.  Documentatie: In een (aaneengesloten) periode mogen verschillende instellingen de regierol coordinator zorg thuis hebben. Ze hebben deze rol niet gelijktijdig, maar na elkaar. Een overlap van een (1) dag is hierbij toegestaan.  |   |

| **Autorisatieregel** | **Oud** | **Nieuw** | **Opmerking** |
| :--- | :--- | :--- |  :--- |
|  BRA0005  | Een zorgaanbieder mag voor het leveren van zorg aan de client de Dossierhouder en CoordinatorZorgThuis raadplegen die geheel of gedeeltelijk in tijd overlappen met de eigen toewijzing. Documentatie: Toegang geldt t/m 31 mei van het jaar dat volgt op de einddatum van de eigen toewijzing.    | Een zorgaanbieder mag voor het leveren van zorg aan de client de Regiehouders raadplegen waarin deze zorgaanbieder niet als instelling is opgenomen. <br><br> Documentatie: Voorwaarde is dat deze Regiehouders bij dezelfde Bemiddeling horen als de eigen Bemiddelingspecificatie en geheel of gedeeltelijk in tijd overlappen met deze Bemiddelingspecificatie. Toegang geldt t/m 31 mei van het jaar dat volgt op de einddatum van de eigen Bemiddelingspecificatie. Om vast te stellen of er sprake is van overlap tussen Bemiddelingspecificaties is de periode vanaf de ingangsdatum (of eerder vaststellingsmoment) t/m de einddatum van de Bemiddelingspecificaties bepalend.  | Opmerking: hoort bij BRA0012 en is in lijn met BRA0002.  |
|  BRA0009  | Een uitvoerend zorgkantoor mag voor het toeleiden van de client de Dossierhouder en CoordinatorZorgThuis raadplegen die geheel of gedeeltelijk in tijd overlappen met de eigen toewijzing. <br><br> Documentatie: Toegang geldt t/m 31 mei van het jaar dat volgt op de einddatum van de eigen toewijzing. De periode waarin sprake kan zijn van overlap is de periode vanaf de ingangsdatum van de eigen toewijzing (of vanaf een eerder moment van vaststellen daarvan) t/m de einddatum van de eigen toewijzing.   |  Een uitvoerend zorgkantoor mag voor het toeleiden van de client de Regiehouders raadplegen die geheel of gedeeltelijk in tijd overlappen met de eigen Bemiddelingspecificatie. <br><br> Documentatie: Toegang geldt t/m 31 mei van het jaar dat volgt op de einddatum van de eigen Bemiddelingspecificatie. Om vast te stellen of er sprake is van overlap tussen Bemiddelingspecificaties is de periode vanaf de ingangsdatum (of eerder vaststellingsmoment) t/m de einddatum van de Bemiddelingspecificaties bepalend.    |  zie ook RFC 24073 #73 |
|  BRA0010  | Een nieuw verantwoordelijk zorgkantoor mag voor het toeleiden van de client alle entiteiten in het Bemiddelingsregister raadplegen die betrekking hebben op de overgedragen bemiddeling en de client. <br><br> Documentatie: Voor CZT, DH, Contactpersoon en Contactgegevens is de toegang beperkt tot de gegevens die op Overdrachtdatum geldig zijn. Dit zijn de gegevens waarvan de ingangsdatum op of voor de overdrachtdatum ligt en waarvan de einddatum leeg is of op of na de overdrachtdatum ligt.   |  Een nieuw verantwoordelijk zorgkantoor mag voor het toeleiden van de client alle entiteiten in het Bemiddelingsregister raadplegen die betrekking hebben op de overgedragen bemiddeling en de client. <br><br> Documentatie: Voor Regiehouder, Contactpersoon en Contactgegevens is de toegang beperkt tot de gegevens die op Overdrachtdatum geldig zijn. Dit zijn de gegevens waarvan de ingangsdatum op of voor de overdrachtdatum ligt en waarvan de einddatum leeg is of op of na de overdrachtdatum ligt.     | 
|  BRA0012  |   | Een zorgaanbieder mag voor het leveren van zorg aan de client de Regiehouders raadplegen waarin deze zorgaanbieder als instelling is opgenomen. <br><br> Documentatie: Toegang geldt vanaf het moment dat de Regiehouder in het register is geplaatst.     | Opmerking: hoort bij BRA0005 en is in lijn met BRA0001  |

[Gewijzigde regels bij RFC24059.XLSX](https://github.com/user-attachments/files/17060713/Gewijzigde.regels.bij.RFC24059.XLSX)

### Autorisatiematrix: 
- Verwijderen entiteit ```Dossierhouder```
- Verwijderen entiteit ```CoordinatorZorgThuis```
- Toevoegen entiteit ```Regiehouder``` met attributen ```regiehouderID, bemiddelingID, instelling, ingangsdatum, einddatum, regierol``` binnen de entiteit ```Regiehouder```.
- Kolom ```BRA0012``` toevoegen 
- Vermelding ```R``` voor de attributen ```regiehouderID, bemiddelingID, instelling, ingangsdatum, einddatum, regierol``` binnen de entiteit ```Regiehouder``` in kolommen ```BRA0005, BRA0009, BRA0012```


### Proces
geen wijzigingen


### Koppelvlak

| **Mutatie** | **Huidige situatie** | **Nieuwe situatie** |
| :--- | :--- | :--- |
| Verwijderen | | type ```Dossierhouder``` inclusief hulp-typen verwijderd |
| Verwijderen | | type ```CoordinatorZorgThuis``` inclusief hulp-typen verwijderd |
| Toevoegen | | type ```Regiehouder```  toevoegen inclusie hulp-typen (zie verderop) |
| Toevoegen | | Query-type voor raadplegen toegewezen rol na notificatie (zie verderop) |



- Query type 

```graphql
regiehouder(where: regiehouderFilterInput): [Regiehouder!]!
```

- Regiehouder type
```graphql
type Regiehouder {
  regiehouderID: UUID!
  instelling: String!
  ingangsdatum: Date!
  einddatum: Date
  regierol: String!
  bemiddeling: Bemiddeling!
}
```
Schematisch
    
- nieuwe situatie:

![Image](https://github.com/user-attachments/assets/f05bc689-39c5-427b-84e8-5be586de8705)

- oude situatie:
    
![image](https://github.com/iStandaarden/iWlz_RequestForChange/assets/54527139/4d66fa33-e191-491b-af0e-aebc94dc1f97)

### Notificatie

| **Mutatie** | **Huidige situatie** | **Nieuwe situatie** |
| :--- | :--- | :--- |
| Verwijderen |  | BEEINDIGDE_ROL_COORDINATORZORGTHUIS_ZORGAANBIEDER |
| Verwijderen |  | BEEINDIGDE_ROL_DOSSIERHOUDER_ZORGAANBIEDER |
| Verwijderen |  | ROL_COORDINATORZORGTHUIS_ZORGAANBIEDER |
| Verwijderen |  | ROL_DOSSIERHOUDER_ZORGAANBIEDER |
| Toevoegen |  | NIEUWE_REGIEROL_ZORGAANBIEDER |
| Toevoegen |  | GEWIJZIGDE_REGIEROL_ZORGAANBIEDER |
| Toevoegen |  | VERWIJDERDE_REGIEROL_ZORGAANBIEDER |
| Wijziging | Inhoud notificatie (deels)<br> ```"subject": "Client/{clientID}",``` <br> ``` "recordID": "Dossierhouder/{dossierhouderID}"``` | Inhoud notificatie (deels)<br> ```"subject": "Bemiddeling/{bemiddelingID}",``` <br> ```"recordID": "Regiehouder/{regiehouderID}"```|

N.B. zie ook [RFC 24065 Uniformeren notificaties en bijbehorende bedrijfsregels](https://github.com/iStandaarden/iWlz_RequestForChange/issues/63) voor de complete beschrijving van de nieuwe notificatietypen

- Nieuwe specificatie voor elk van de drie eventtypen: ```NIEUWE_REGIEROL_ZORGAANBIEDER / GEWIJZIGDE_REGIEROL_ZORGAANBIEDER / VERWIJDERDE_REGIEROL_ZORGAANBIEDER```
```json
voorbeeld eventType NIEUWE_REGIEROL_ZORGAANBIEDER
{
  "timestamp": "{timestamp}",
  "afzenderIDType": "UZOVI",
  "afzenderID": "{uzovicode}",
  "ontvangerIDType": "Agbcode",
  "ontvangerID": "{agbcode}",
  "ontvangerKenmerk": null,
  "eventType": "NIEUWE_REGIEROL_INSTELLING",
  "subjectList": [
    {
      "subject": "Bemiddeling/{bemiddelingID}",
      "recordID": "Regiehouder/{regiehouderID}"
    }
  ]
}
```

### Policy & query-template

**Rego-policy**

| **Mutatie** | **Huidige situatie** | **Nieuwe situatie** |
| :--- | :--- | :--- |
| Toevoegen | | Een zorgaanbieder mag met het meegeven van ```regiehouderID``` (afkomstig uit notificatie) en de eigen ```agbCode```  alleen die Regiehouder en direct gerelateerde Bemiddeling en Client raadplegen | 



**query-template**

```graphQL
# QBR-0009-ZAr.graphql
# Query voor Zorgaanbieder op Bemiddelingsregister
# Verplichte input:
#   - regiehouderID = te raadplegen Regiehouder
#   - agbcode instelling = eigen agbcode raadpleger

query Regiehouder(
  $regiehouderID: UUID!
  $Instelling: String!
) {
  regiehouder(
    where: {
      regiehouderID: { eq: $regiehouderID }
      instelling: { eq: $Instelling }
    }
  ) {
    regiehouderID
    instelling
    ingangsdatum
    einddatum
    regierol
    bemiddeling {
      bemiddelingID
      wlzIndicatieID
      verantwoordelijkZorgkantoor
      verantwoordelijkheidIngangsdatum
      verantwoordelijkheidEinddatum
      # Subentiteiten van Bemiddeling mag je niet ophalen zonder datumfilter - zie QBR-0002-ZA.graphql
      client {
        bsn
        clientID
        taal
        communicatievorm
        huisarts
        leefeenheid
        # Sub entiteiten van de client mag je niet ophalen zonder datumfilter - zie QBR-0002-ZA.graphql
      }
    }
  }
}

```


2024-06-20: Besproken in TAO (technisch afstemmingsoverleg)

Voorstel is akkoord, maar analyseer ook of DH/CZT een relatie moet krijgen met Bemiddelingsspecificatie. 

Is het mogelijk om de Dossierhouder en CZT in dezelfde entiteit op te nemen met een referentie naar een hulptabel met de waardes voor het type, waarbij 1 = DH en 2 = CZT. Mocht er in de toekomst dan iets bij komen of vervallen dan zijn er alleen wijzigingen in de inhoud nodig, niet in het datamodel.

> Is het mogelijk om de Dossierhouder en CZT in dezelfde entiteit op te nemen met een referentie naar een hulptabel met de waardes voor het type, waarbij 1 = DH en 2 = CZT. Mocht er in de toekomst dan iets bij komen of vervallen dan zijn er alleen wijzigingen in de inhoud nodig, niet in het datamodel.

Hoi @ivovanopstal , dat denk ik wel. Was ook de suggestie van Tonko, als ik dat goed heb begrepen. De graaf komt er dan ongeveer zo uit te zien. 
Er zijn vergelijkbare regels nodig als nu ook gelden:
- Overlap op dezelfde rol is maximaal 1 dag
- Juiste aanwezigheid van een rol bij leveringsvorm
e.d.

![Graph-Registers-VerantwoordelijkeInstelling drawio](https://github.com/iStandaarden/iWlz_RequestForChange/assets/54527139/616986ff-89e1-4f7b-b61e-e0a1b2f06c82)

Voor de codelijst is er geen direct herbruikbare lijst. Niet bij de zibs en niet bij VEKTIS. Wel heeft VEKTIS de codelijst "Zorgaanbiederrol" https://www.vektis.nl/standaardisatie/codelijsten/CL0014-VEKT Deze kent de waarden DH en CZT niet, maar misschien is het handig om hier wel op aan te sluiten en de huidige lijst te adopteren en DH en CZT aan te vullen. We bespreken dit ook nog intern

Deze RFC staat ook voor de TEG van 2024-07-18

Hi Remo, 

Ziet er goed uit. Laat misschien met het ERD plaatje nog wel even duidelijk zien dat het dus niet tussen bemiddeling en bemiddeling specificatie hangt. Uiteraard sta ik achter de aanpassing van het samenvoegen van de entiteiten CZT/DH tot 1. Iedereen heeft het ook zo gemapt in zijn backoffice. Ik stel hier nu wel de kanttekening bij dat dit geen negatieve gevolgen heeft voor de autorisatie policies. maar volgens mij was dat niet het geval. 

Groet Emiel

Let op: RFC heeft afhankelijkheid met: https://github.com/iStandaarden/iWlz_RequestForChange/issues/65


BRA0XX --> BRA0012

BRA0009 in lijn gebracht met BRA0009 uit zoals beschreven in RFC 24073

Sectie "Autorisatiematrix" toegevoegd

bemiddelingID toegevoegd aan ERD en Autorisatiematrix

In deze RFC ontbreekt koppeling regierol - GGR0014.  Als bevinding opgenomen. 
https://github.com/iStandaarden/iWlz_RequestForChange/issues/98
