Reden van vervallen indicatie verplicht opgeven

### Probleem omschrijving

De vervaldatum wordt door het CIZ geregistreerd als:
1.	De client is overleden en er is nog een actueel besluit
a.	Als zorgkantoor ontvang je de notificatie Vervallen indicatie zorgkantoor
b.	Het zorgkantoor zal zelf via de BRP ook een melding van het overlijden ontvangen (deze komt zeer waarschijnlijk eerder dan de notificatie)
c.	Het zorgkantoor trekt het actuele IB in (als dat nog niet is gedaan)
2.	De client een nieuwe indicatie heeft ontvangen en nog een actueel besluit had
a.	Als zorgkantoor ontvang je de notificatie Vervallen indicatie zorgkantoor
b.	Het zorgkantoor kan zelf de herindicatie ontvangen waardoor duidelijk is waarom de vervaldatum gevuld wordt (deze komt zeer waarschijnlijk eerder dan de notificatie)
c.	Het zorgkantoor trekt het actuele IB in (als dat nog niet is gedaan)
3.	De client een negatief IB krijgt en nog een actueel besluit had
a.	Als zorgkantoor ontvang je de notificatie Vervallen indicatie zorgkantoor
b.	Het zorgkantoor krijgt geen notificatie van het negatieve IB (aanname die nog bij het CIZ getoetst zal worden
c.	Het zorgkantoor trekt het actuele IB in

Omdat het CIZ alleen de vervaldatum registreert, maar niet de reden van het vullen, weet het zorgkantoor dus niet de achterliggende reden. Voor het PGB systeem van de zorgkantoren is de behoefte om een intrekking van de zorgtoewijzing (nav ontvangst vervaldatum) niet meteen door te voeren op de beschikking. Vooral als er sprake is van een herindicatie dan zal PGB kunnen blijven doorlopen. Dus het meteen intrekken van de beschikking en het informeren van de client daarover is verre van wenselijk. Dit probleem lossen we echter niet op in de keten zolang het CIZ niet de werkelijke reden van het vullen van de vervaldatum doorgeeft. Er bestaat overigens nog wel de kans dat het zorgkantoor een notificatie voor de herindicatie ontvangt, maar dat is dan altijd het zorgkantoor waar de client nu woont. Dit hoeft niet het zorgkantoor te zijn waar de PGB nu loopt dus ook met de notificatie blijft het probleem bestaan,

### Gewenste resultaat

Het uitbreiden van de informatie die het CIZ vastlegt, waardoor ook de reden van de vervaldatum wordt toegevoegd. Zonder die aanpassing is het niet mogelijk om correct vast te stellen of het PGB wel of niet moet worden ingetrokken.

### RFC gevolgen voor het onderdeel/de onderdelen

ERD (Register)

### Welk ander onderdeel?

_No response_

### Betrokken partij RFC

CIZ, Zorgkantoor

### Andere betrokken partij

_No response_

### Indiener RFC

Softwareleverancier zorgkantoor

### Andere organisatie / contactpersoon

_No response_

### Gewenste Implementatiemoment

bij in gebruik name bemiddelingsregister

### Gewenste implementatiemoment

nader te bepalen

Toelichting indiener, Rob van Rijn (Zorgmatch): 

De vervaldatum wordt door het CIZ geregistreerd als:

De client is overleden en er is nog een actueel besluit
a. Als zorgkantoor ontvang je de notificatie Vervallen indicatie zorgkantoor
b. Het zorgkantoor zal zelf via de BRP ook een melding van het overlijden ontvangen (deze komt zeer waarschijnlijk eerder dan de notificatie)
c. Het zorgkantoor trekt het actuele IB in (als dat nog niet is gedaan)
De client een nieuwe indicatie heeft ontvangen en nog een actueel besluit had
a. Als zorgkantoor ontvang je de notificatie Vervallen indicatie zorgkantoor
b. Het zorgkantoor kan zelf de herindicatie ontvangen waardoor duidelijk is waarom de vervaldatum gevuld wordt (deze komt zeer waarschijnlijk eerder dan de notificatie)
c. Het zorgkantoor trekt het actuele IB in (als dat nog niet is gedaan)
De client een negatief IB krijgt en nog een actueel besluit had
a. Als zorgkantoor ontvang je de notificatie Vervallen indicatie zorgkantoor
b. Het zorgkantoor krijgt geen notificatie van het negatieve IB (aanname die nog bij het CIZ getoetst zal worden
c. Het zorgkantoor trekt het actuele IB in
Omdat het CIZ alleen de vervaldatum registreert, maar niet de reden van het vullen, weet het zorgkantoor dus niet de achterliggende reden. Voor het PGB systeem van de zorgkantoren is de behoefte om een intrekking van de zorgtoewijzing (nav ontvangst vervaldatum) niet meteen door te voeren op de beschikking. Vooral als er sprake is van een herindicatie dan zal PGB kunnen blijven doorlopen. Dus het meteen intrekken van de beschikking en het informeren van de client daarover is verre van wenselijk. Dit probleem lossen we echter niet op in de keten zolang het CIZ niet de werkelijke reden van het vullen van de vervaldatum doorgeeft. Er bestaat overigens nog wel de kans dat het zorgkantoor een notificatie voor de herindicatie ontvangt, maar dat is dan altijd het zorgkantoor waar de client nu woont. Dit hoeft niet het zorgkantoor te zijn waar de PGB nu loopt dus ook met de notificatie blijft het probleem bestaan,

@IZijlstra Bij de huidig situatie staat nu het volgende:
_De vervaldatum wordt alleen geregistreerd als deze voor de einddatum van het indicatiebesluit ligt. Als het besluit al een of meer vervaldatums bevat, moet de nieuwe vervaldatum vóór de eerder geregistreerde vervaldatum(s) op datzelfde indicatiebesluit liggen. Dus alleen als de vervaldatum invloed heeft op de geldigheidsduur van de indicatie (geldigheidsduur wordt ingekort) wordt deze vastgelegd._

Het laatste deel van de alinea gaat over het registreren van de vervaldatum als deze kleiner is en dus de geldigheid van het besluit beperkt. Ik ben het daar mee eens, maar wel met de nuancering dat een vervaldatum ook gecorrigeerd moet kunnen worden, waarbij deze groter wordt dan een eerder vastgelegde vervaldatum. Voorbeeld zou kunnen zijn dat de overlijdensdatum in het BRP is gecorrigeerd en deze blijkt 1 dag later te zijn dan de eerder doorgegeven datum. Daardoor moet de vervaldatum ook 1 dag worden opgeschoven.

Naar aanleiding van opmerking Hans in RGB reden herindicatie gesplitst in: dezelfde regio en andere regio. 
Vraag is: wat bedoelen we met 'dezelfde regio'? Is dat de regio van het huidige verantwoordelijke zorgkantoor of is dat de regio waarin het vorige indicatiebesluit is afgegeven? 
Met andere woorden: moet het CIZ hiervoor het Bemiddelingsregister raadplegen of is dat het InitieelVerantwoordelijkZorgkantoor?

Tijdens RGB/Bezorg 12-12-2024 besproken: verder uitwerken voor bespreking volgende RGB 

Als de nieuwe elementen in VervallenGeldigheid gewijzigd kunnen worden
- moeten we nagaan of een notificatie GEWIJZIGDE_VERVALLENGELDIGHEID_ZORGKANTOOR wenselijk is;
- moeten we voorkomen dat vaststellingMoment dan ook gewijzigd wordt, want dit is gekoppeld aan vervaldatum (die niet gewijzigd mag/kan worden). Dat zou kunnen door van vaststellingMoment een sleutelelement te maken.  Sleutelelementen kunnen/mogen niet gewijzigd worden.


Tijdens RGB 23-01-24 besproken: element nieuwVerantwoordelijkZorgkantoor opnemen in VervallenGeldigheid is gewenste oplossing, ook goed werkbaar voor het CIZ. Dit werken we uit in deze RFC. 
Tevens aangekaart dat vaststellingMoment onderdeel sleutel moet worden om te voorkomen dat vaststellingMoment gewijzigd wordt bij wijzigen van bijv. reden of zorgkantoorcode. Nemen we mee in verdere uitwerking van deze RFC.

Tijdens RGB/Bezorg 23-01-2024 besproken: 

Besluit Referentiegroep: Akkoord met de voorgestelde oplossing.



@IZijlstra De restrictie op LDT_RedenVervallenGeldigheid; RS008: Maximale lengte 1 positie, is overbodig en zou ik niet opnemen. Als er straks toch nieuwe codes nodig zijn > 9, dan is er weer een wijziging op de restrictie nodig. 
Het moeten voldoen aan de codelijst is al beperkend genoeg. 

> [!CAUTION] 
> ### LET OP: Deze RFC is samengevoegd met de wijzigingen uit [RFC 24064](https://github.com/iStandaarden/iWlz_RequestForChange/issues/64) samen tot één logisch wijzigingsverzoek: [RFC 24138 Meerdere vervaldatums en reden vastleggen per besluit](https://github.com/iStandaarden/iWlz_RequestForChange/issues/138)
> 
> De impact op notificaties is beschreven in [RFC 24078](https://github.com/iStandaarden/iWlz_RequestForChange/issues/78) omdat deze specifiek gaat over het aanvullen van notificatietypen. Die RFC geeft daarmee een compleet overzicht met betrekking tot notificaties.

